<p>Bonjour {{ utilisateur.pseudo }}, vous avez demandé une réinitialisation de votre mot de passe le-boudoir-de-laurine.fr.<br />
Par souci de sécurité, vous devez valider cette demande en cliquant sur le lien ci-dessous : <a href="{{ adresse }}">Confirmer la demande</a></p>
<p>Si le lien ne fonctionne pas, copiez le lien suivant dans le champ d'adresse de votre navigateur : {{ adresse }}</p>

<p>Si vous n'avez pas demandé cette réinitionalisation, vous pouvez ignorer ce mail en toute tranquillité.<br />
N’oubliez pas que vous ne devez JAMAIS donner votre mot de passe, même aux membres du staff.</p>

<p>Si vous le souhaitez, vous pouvez contacter l’équipe de modération en allant sur cette page :
<a href="http://le-boudoir-de-laurine.fr/contact">http://le-boudoir-de-laurine.fr/contact</a></p>
<p>Cordialement,<br />Le boudoir de laurine.</p>