<p>Bonjour {{ ue.equipe.chef.pseudo }},</p>

<p>{{ utilisateur.pseudo }} a rejoint votre équipe {{ ue.equipe.nom }} le {{ ue.date('d/m/Y à G\\hi') }}</p>

<p>Vous avez demandé à être averti lors de cet évènement, sachez que vous
pouvez toujours choisir de ne pas être averti lors de cet évènement en modifiant le réglage approprié dans les préférences de votre profil.</p>

<p>Ceci est un e-mail automatisé, merci de ne pas y répondre.</p>

<p>Cordialement,<br />League of bravery.</p>
