<div class="span3 well" id="menu" style="padding: 8px 0;">
    <ul class="nav nav-list">
        <li class="nav-header">Messages</li>
        <li class="divider"></li>
        <li><a href="{{ path('mp_reception') }}">Boite de récéption</a></li>
        <li><a href="{{ path('mp_nouveau') }}">Nouveau message</a></li>
        <li><a href="{{ path('mp_envoyes') }}">Messages envoyés</a></li>
        <br />
    </ul>
</div>