{% extends '::base.html.twig' %}
{% block titre %}Rejoindre une équipe{% endblock %}
{% block contenu %}
<style>
        ul li{
            color:red;
        }
        hr{
            margin-top:0;
        }
        h4{
            margin-top:0;
        }
        input{
            width:98%;
        }
</style>
{% include 'SitePageBundle:include:flash.html.twig' %}
<div class="span6 offset3"><div class="page-header" style="margin-top:0;"><h3>Rejoindre "{{ equipe.nom }}"</h3></div></div>
<div class="span6 offset3">
    <div class="row-fluid">
        <form style="float:none;margin:0 auto;" action="{{ path('equipe_rejoindre', {'id': equipe.id } ) }}" method="POST">
            {{ form_row(form.password) }}
    </div>
    <div class="row-fluid">
        <br /><input type="submit" class="btn btn-primary" value="Valider" />
        </form>
    </div>
</div>
{% endblock %}